.dashboard {
	background-color: #FFFFFF;
	width: 100%;
	height: 70px;
	opacity: 0.9;
}

.logo {
	max-height: inherit;
	padding-left: 5px;
  }

.homebtn {
	background-color: #FFFFFF;
	color: #1f2228;
	font-weight: 700;
	border: 3px solid #1f2228;
	border-radius: 20px;
	width: 8%;
	height: 40px;
	margin-left: 5%;
	margin-top: 15px;
	float: right;
	cursor: pointer;
}

.homebtn:hover {
	border: 3px solid #04B404;
	background-color: #04B404;
	color: white;
}

.sbtn {
	background-color: #FFFFFF;
	color: #1f2228;
	font-weight: 700;
	border: 3px solid #1f2228;
	border-radius: 20px;
	width: 8%;
	height: 40px;
	margin-left: 5%;
	margin-top: 15px;
	float: right;
	cursor: pointer;
}

.sbtn:hover {
	border: 3px solid #2E64FE;
	background-color: #2E64FE;
	color: white;
}

.logoutbtn {
	background-color: #FFFFFF;
	color: #1f2228;
	font-weight: 700;
	border: 3px solid #1f2228;
	border-radius: 20px;
	width: 8%;
	height: 40px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 15px;
	float: right;
	cursor: pointer;
}

.logoutbtn:hover {
	border: 3px solid #DF0101;
	background-color: #DF0101;
	color: white;
}

.titel {
	margin-top: 30px;
	color: white;
	font-size: 40px;
	text-align: center;
	border-bottom: solid white 6px;
	width: 140px;
	margin-left: 45%;
	padding: 13px 0;
	
}

.color_p1 {
	max-width: 10%; 
	max-height: 10%;
}

.color_p2 {
	max-width: 10%; 
	max-height: 10%;
}

#red_p1 {
	border-style: solid;
	border-width: 2px;
	border-color: #FF0000;
}

#yellow_p2 {
	border-style: solid;
	border-width: 2px;
	border-color: #FF0000;
}

body {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}